@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color: rgba(255, 255, 255, 0.87);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}

/* main {
    min-height: 100vh;
} */

h1 {
    font-size: 2.7em;
    line-height: 1.1;
}

.logo {
    will-change: filter;
}
.logo:hover {
    filter: drop-shadow(0 0 3px #0f0419aa);
}

button {
    border-radius: 8px;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: #646cff;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (max-width: 900px) {
    h1 {
        font-size: 2em;
    }
}
@media (max-width: 400px) {
    h1 {
        font-size: 1.2em;
    }
}
